services:
  # default configuration for services in *this* file
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

  Tourze\Symfony\CronJob\Command\:
    resource: '../../Command/'
  Tourze\Symfony\CronJob\Controller\:
    resource: '../../Controller/'
  Tourze\Symfony\CronJob\EventListener\:
    resource: '../../EventListener/'
  # Provider namespace contains only the interface, no implementation classes
  # Individual providers should be configured in their respective bundles
  Tourze\Symfony\CronJob\Service\:
    resource: '../../Service/'
  
  Tourze\Symfony\CronJob\Twig\CronJobExtension:
    tags:
      - { name: twig.extension }
